- op: test
  path: /spec/steps/1/name
  value: create
- op: add
  path: /spec/steps/1/volumeMounts/2
  value: 
    mountPath: /etc/ssl/certs/ca-certificates.crt
    name: ca-certs
    subPath: ca-certificates.crt
    readOnly: true
- op: add
  path: /spec/volumes/2
  value:
    configMap:
      name: ca-certs
    name: ca-certs
