server:
  trustDomain: "example.org"
  clusterName: ssf

agent:
  kubeletSkipVerification: true

client:
  enabled: false

oidc:
  enabled: true
  discoveryDomain: "spire-oidc.spire.svc.cluster.local"
  # discoveryDomain: "oidc.example.org"
  acme:
    enabled: false
  certsSecret: oidc-cert
