---
name: docs
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
    paths:
      - ".github/**"
      - "docs/**"
  push:
    branches:
      - main

permissions:
  contents: write

jobs:
  docs:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@ac593985615ec2ede58e132d2e21d2b1cbd6127c  # v3.3.0
      - name: Workaround for detected dubious ownership
        run: git config --global --add safe.directory /github/workspace
      - name: build
        uses: shalzz/zola-deploy-action@4e8cfaf04f68aef5146e33319e4e3e8e9b26e2c0  # v0.16.1
        env:
          BUILD_DIR: docs
          BUILD_ONLY: true
      - name: Deploy
        if: github.ref == 'refs/heads/main'
        uses: peaceiris/actions-gh-pages@bd8c6b06eba6b3d25d72b7a1767993c0aeee42e7  # v3.9.2
        with:
          github_token: ${{ secrets.GITHUB_TOKEN }}
          publish_dir: ./docs/public
