---
name: CI
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  push:
    branches:
      - main
  workflow_dispatch: {}
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: mfinelli/setup-shfmt@v1
      - name: Lint all
        run: make lint

  setup:
    runs-on: ubuntu-latest
    needs:
      lint
    name: Test SSF Installation
    steps:
      - uses: actions/checkout@v2
      - name: Setup go
        uses: actions/setup-go@v2
        with:
          go-version: "1.17.6"
      - name: Vendor Dependencies
        run: ./platform/vendor/vendor.sh
      - name: Check commit is clean
        run: test -z "$(git status --porcelain)" || (git status; git diff; false)
      - name: Start minikube
        run: |
          make setup-minikube
      - name: Try the cluster !
        run: kubectl get pods -A
      - name: Deploy SSF to minikube
        run: |
          make setup-tekton-chains
      - name: Generate temp keys
        run: |
          make tekton-generate-keys
      - name: Setup Kyverno
        run: |
          make setup-kyverno
      - name: Run buildpacks pipeline
        run: |
          make example-buildpacks
          tkn pr logs --last -f
          if [ "$(tkn pr describe --last -o jsonpath='{.status.conditions[?(@.type == "Succeeded")].status}')" != "True" ]; then
            tkn pr describe --last
            exit 1
          fi
          sleep 60
          export IMAGE_URL=$(tkn pr describe --last -o jsonpath='{..taskResults}' | jq -r '.[] | select(.name | match("IMAGE_URL$")) | .value')
          docker run --rm gcr.io/go-containerregistry/crane ls "$(echo -n ${IMAGE_URL} | sed 's|:[^/]*$||')"
          tkn tr describe --last -o json | jq -r '.metadata.annotations["chains.tekton.dev/signed"]'
          cosign verify --key k8s://tekton-chains/signing-secrets "${IMAGE_URL}"
          cosign verify-attestation --key k8s://tekton-chains/signing-secrets "${IMAGE_URL}"
      - name: Run sample pipeline to test kyverno
        run: |
          make example-sample-pipeline
          tkn pr logs --last -f
          if [ "$(tkn pr describe --last -o jsonpath='{.status.conditions[?(@.type == "Succeeded")].status}')" != "True" ]; then
            tkn pr describe --last
            exit 1
          fi
          sleep 60
          export IMAGE_URL=$(tkn pr describe --last -o jsonpath='{..taskResults}' | jq -r '.[] | select(.name | match("IMAGE_URL$")) | .value')
          docker run --rm gcr.io/go-containerregistry/crane ls "$(echo -n ${IMAGE_URL} | sed 's|:[^/]*$||')"

          cosign verify --key k8s://tekton-chains/signing-secrets "${IMAGE_URL}"
          cosign verify-attestation --key k8s://tekton-chains/signing-secrets "${IMAGE_URL}"

          kubectl wait --timeout=5m --for=condition=ready pods -l app=picalc -n prod
      - name: Run go pipeline
        run: |
          make example-golang-pipeline
          tkn pr logs --last -f
          if [ "$(tkn pr describe --last -o jsonpath='{.status.conditions[?(@.type == "Succeeded")].status}')" != "True" ]; then
            tkn pr describe --last
            exit 1
          fi
          sleep 60
          export IMAGE_URL=$(tkn pr describe --last -o jsonpath='{..taskResults}' | jq -r '.[] | select(.name | match("IMAGE_URL$")) | .value')
          docker run --rm gcr.io/go-containerregistry/crane ls "$(echo -n ${IMAGE_URL} | sed 's|:[^/]*$||')"
          cosign verify --key k8s://tekton-chains/signing-secrets "${IMAGE_URL}"
          cosign verify-attestation --key k8s://tekton-chains/signing-secrets "${IMAGE_URL}"
      - name: Run IBM tutorial pipeline
        run: |
          make example-ibm-tutorial
          tkn pr logs --last -f
          if [ "$(tkn pr describe --last -o jsonpath='{.status.conditions[?(@.type == "Succeeded")].status}')" != "True" ]; then
            tkn pr describe --last
            exit 1
          fi
          sleep 60
          export IMAGE_URL=$(tkn pr describe --last -o jsonpath='{..taskResults}' | jq -r '.[] | select(.name | match("IMAGE_URL$")) | .value')
          docker run --rm gcr.io/go-containerregistry/crane ls "$(echo -n ${IMAGE_URL} | sed 's|:[^/]*$||')"
          cosign verify --key k8s://tekton-chains/signing-secrets "${IMAGE_URL}"
          cosign verify-attestation --key k8s://tekton-chains/signing-secrets "${IMAGE_URL}"
      - name: Run gradle pipeline
        run: |
          make example-gradle-pipeline
          tkn pr logs --last -f
          if [ "$(tkn pr describe --last -o jsonpath='{.status.conditions[?(@.type == "Succeeded")].status}')" != "True" ]; then
            tkn pr describe --last
            exit 1
          fi
          sleep 60
          export IMAGE_URL=$(tkn pr describe --last -o jsonpath='{..taskResults}' | jq -r '.[] | select(.name | match("IMAGE_URL$")) | .value')
          docker run --rm gcr.io/go-containerregistry/crane ls "$(echo -n ${IMAGE_URL} | sed 's|:[^/]*$||')"
          cosign verify --key k8s://tekton-chains/signing-secrets "${IMAGE_URL}"
          cosign verify-attestation --key k8s://tekton-chains/signing-secrets "${IMAGE_URL}"
      - name: Run maven pipeline
        run: |
          make example-maven
          tkn pr logs --last -f
          if [ "$(tkn pr describe --last -o jsonpath='{.status.conditions[?(@.type == "Succeeded")].status}')" != "True" ]; then
            tkn pr describe --last
            exit 1
          fi
