---
name: CI
on:
  pull_request:
    types:
      - opened
      - synchronize
      - reopened
  push:
    branches:
      - main
  workflow_dispatch: {}
jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v3
      - uses: mfinelli/setup-shfmt@v1
      - name: Lint all
        run: make lint

  setup:
    runs-on: ubuntu-latest
    needs:
      lint
    name: Test FRSCA Installation
    steps:
      - uses: actions/checkout@v3
      - name: Setup go
        uses: actions/setup-go@v3
        with:
          go-version: "~1.19.0"
      - name: Vendor Dependencies
        run: |
          ./platform/vendor/vendor.sh
          ./platform/vendor/vendor-helm-all.sh
      - name: Check commit is clean
        run: test -z "$(git status --porcelain)" || (git status; git diff; false)
      - name: Start minikube
        run: |
          make setup-minikube
      - name: Try the cluster !
        run: kubectl get pods -A
      - name: Generate certs
        run: |
          make setup-certs
      - name: Setup Tekton Pipeline and Chains
        run: |
          make install-tekton-pipelines
          make setup-tekton-pipelines
          make install-tekton-chains
          make setup-tekton-chains
      - name: Setup Spire
        run: |
          make install-spire
          make setup-spire
      - name: Setup Vault
        run: |
          make install-vault
          make setup-vault
      - name: Setup Kyverno
        run: |
          make install-kyverno
          make setup-kyverno
      - name: Run buildpacks pipeline
        run: |
          make example-buildpacks
          tkn pr logs --last -f
          if [ "$(tkn pr describe --last -o jsonpath='{.status.conditions[?(@.type == "Succeeded")].status}')" != "True" ]; then
            tkn pr describe --last
            exit 1
          fi
          sleep 60
          export IMAGE_URL=$(tkn pr describe --last -o jsonpath='{..taskResults}' | jq -r '.[] | select(.name | match("IMAGE_URL$")) | .value')
          docker run --rm gcr.io/go-containerregistry/crane ls "$(echo -n ${IMAGE_URL} | sed 's|:[^/]*$||')"
          tkn tr describe --last -o json | jq -r '.metadata.annotations["chains.tekton.dev/signed"]'
          cosign verify --key k8s://tekton-chains/signing-secrets "${IMAGE_URL}"
          cosign verify-attestation --key k8s://tekton-chains/signing-secrets "${IMAGE_URL}"
      - name: Run sample pipeline to test kyverno
        run: |
          make example-sample-pipeline
          tkn pr logs --last -f
          if [ "$(tkn pr describe --last -o jsonpath='{.status.conditions[?(@.type == "Succeeded")].status}')" != "True" ]; then
            tkn pr describe --last
            exit 1
          fi
          sleep 60
          export IMAGE_URL=$(tkn pr describe --last -o jsonpath='{..taskResults}' | jq -r '.[] | select(.name | match("IMAGE_URL$")) | .value')
          docker run --rm gcr.io/go-containerregistry/crane ls "$(echo -n ${IMAGE_URL} | sed 's|:[^/]*$||')"

          cosign verify --key k8s://tekton-chains/signing-secrets "${IMAGE_URL}"
          cosign verify-attestation --key k8s://tekton-chains/signing-secrets "${IMAGE_URL}"

          kubectl wait --timeout=5m --for=condition=ready pods -l app=picalc -n prod
