name: CI
on:
  - pull_request
  - workflow_dispatch 
jobs:
  job1:
    runs-on: ubuntu-latest
    name: Test SSF Installation
    steps:
    - uses: actions/checkout@v2
    - name: Install Shellcheck
      run: |
        apt-get install shellcheck
    - name: Lint shell files
      run: |
        find . -type f -name "*.sh" -print0 | xargs -0 shellcheck
    - name: Start minikube
      run: |
        make setup-minikube
    - name: Try the cluster !
      run: kubectl get pods -A
    - name: Deploy SSF to minikube
      run: |
        make setup-tekton-chains
        make setup-kyverno
    - name: Generate temp keys
      run: |
        make tekton-generate-keys
    - name: Run test pipeline
      run: |
        ./examples/buildpacks/buildpacks.sh
        export DOCKER_IMG=$(tkn pr describe --last -o jsonpath='{.spec.params[?(@.name=="APP_IMAGE")].value}')
        tkn pr logs --last -f
        sleep 60
        docker run --rm gcr.io/go-containerregistry/crane ls $DOCKER_IMG
        tkn tr describe --last -o json | jq -r '.metadata.annotations["chains.tekton.dev/signed"]'
        cosign verify --key k8s://tekton-chains/signing-secrets ${DOCKER_IMG}
        cosign verify-attestation --key k8s://tekton-chains/signing-secrets ${DOCKER_IMG}
